spring:
  application:
    name: hatin

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql-container:3306/hatin_db?autoReconnect=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: project1
    password: 1234

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true
    open-in-view: false
  web:
    resources:
      add-mappings: false

  mail:
    default-encoding: UTF-8
    host: smtp.gmail.com
    port: 587
    username: hatinproject1@gmail.com
    password: kobnxzxfuyqmqere
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ThisistestThisistestThisistestThisistestThisistest

#logging:
#  level:
#    root: DEBUG