spring:
  application:
    name: hatin

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hatin?autoReconnect=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: project1
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
    open-in-view: false
  web:
    resources:
      add-mappings: false
logging:
  level:
    root: DEBUG